/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
rpiduino/imports
rpiduino/*/moc_*
rpiduino/*/*/*/*.so
rpiduino/*/Makefile
overlay-rpiduino/usr/qml
